# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
